services:
  postgres:
    image: postgres:15
    container_name: aggregator_db
    restart: unless-stopped
    env_file:
      - .env.local
    environment:
      - DOCKER_ENV=true
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: aggregator_app
    restart: unless-stopped
    depends_on:
      - postgres
#    environment:
#      - DOCKER_ENV=true
    env_file:
      - .env.local
    ports:
      - "8000:8000"
volumes:
  postgres_data: