[project]
name = "aggregator"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "aiohttp>=3.13.3",
    "fastapi>=0.128.7",
    "pydantic-settings>=2.12.0",
    "ruff>=0.15.0",
    "uvicorn[standard]>=0.40.0",
]
